body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  background-color: rgb(200, 0, 0);
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
